

.gallery,
.container,
.container2,
.container3 {
    height: 100%;
}



.gallery-current {
    height: 80%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.gallery-scroll {
    height: 18%;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    padding-top: 2%;
    font-size: 0px;
}
.gallery-scroll img {
    height: 100%;
    margin-right: 5px;
    cursor: pointer;
}